---
layout: default
---

<article>
<h2>{{ page.title }}</h2>
<p>{{ page.description }}</p>
<ul>
    {% for post in paginator.posts %}
      <li>
          <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
          <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">
              <i>{{ post.date | date_to_string }}</i> | {{ post.author }}
          </time>
          <p>{{ post.description | strip_html | truncatewords:45 }}</p>
      </li>
    {% endfor %}
</ul>
</article>
